body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10pt;
    
}
.container{
    width: 510px;
    text-align: center;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 30px 50px 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 1fr 50px ;
    border: 2px solid black;
    padding: 1px;
}
.container > div{
    border: 2px solid black;
    margin: 1px;
    
}
.henkilosto{
    grid-row: 1/ span 2;
    grid-column: 1/ span 2;
    font-weight: bold;
    width: 80px;
}
.koulutus{
    grid-column:3/ span 3 ;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
.koulutus_item{
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
.ika{
    grid-row:3/ span 3 ;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
   
}
.ika_item1{
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    
}
.ika_item2{
   
    text-align: center;
    vertical-align: justify;
    font-weight: bold;
  
}
.ika_item3{
   
    text-align: center;
    vertical-align: justify;
    font-weight: bold;
   
}
.linkki{
    text-align: left;
}
.JavaScript{
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.lista{
    text-align: left;
}
.hedelmat{
    text-align: left;
}
.autot{
    text-align: left;
}
